body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #efe;
    background-color: #090020;
    margin: 0px;
}

.headerItems {
    padding: 20px;
    font-size: 1.2em;
}

.headerItem {
    display: inline-block;
    color: #ccc;
    vertical-align: top;
    margin: 5px;
}

.nav {
    background-color: orange;
    overflow: hidden;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav a {
    display: block;
    float: left;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
}

.nav a:hover {
    background-color: #ccc;
}

.nav .currentNavItem {
    background-color: darkorange;
}

.footer {
    font-size: 1rem;
    text-align: left;
    padding: 10px;
    color: #667;
    border-top: 2px solid orange;
}

figure {
    margin: 20px;
}

img {
    margin: 10px;
}

.welcomeImage {
    border: 5px groove #ccc;
}

.warningIcon {
    float: left;
}

form {
    line-height: 2em;
    margin: 40px;
}

form input, form textarea {
    padding: 5px;
    border: 5px inset #ccc;
    resize: none;
}

